.song_seperator {
  font-weight: bold;
  margin: 0px 10px 0px 10px;
}

.song_btn {
  margin: 0px 0px 0px 20px;
}

.song_btn_next, .song_btn_prev{
  margin: 0px 3px 0px 3px;
  font-size: 22px;
}

.song_btn_play {
  margin: 0px 3px 0px 0px;
  font-size: 22px;
}
