.song_name {
  margin: 0px 10px 0px 10px;
  font-size: 14px;
}

.song_artist {
  margin: 0px 10px 0px 10px;
  font-size: 14px;
}

.song_seperator {
  font-weight: bold;
}

.song_icon {
  font-size: 18px;
}


