.clock_hour {
  font-size: 16px;
  color: #FFFFFF;
  margin: 0px -2px 1px 0px;
}

.clock_seperator {
  font-size: 16px;
  color: #FFFFFF;
  margin: 0px 0px 1px 0px;
}

.clock_minute {
  font-size: 16px;
  margin: 0px 20px 0px -1px;
  color: #FFFFFF;
}
