.network_name {
  font-size: 14px;
  color: #FFFFFF;
}

.network_icon {
  font-size: 18px;
  margin: 0px 15px 0px 0px;
}

.vpn_name {
  font-size: 14px;
  color: #FFFFFF;
}

.vpn_icon {
  font-size: 18px;
  margin: 0px 15px 0px 0px;
}

